<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <h1>At foo bar!</h1>
        <h2><%=drinks.name; %></h2>
        <img><%=drinks.image; %></img>
        <h3><%=drinks.price; %></h3>
        <style type="text/css">
            body {
              color: blanchedalmond;
              background-color: steelblue;
            }
          </style>

    </body>
</html>